body {
    background-color: #3c1d3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.contenedor {
    background: #ccafb5;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px ;
}

.input-tareas {
    padding: 10px;
    width: 500px;
    text-align: center;
}

.toDo {
    width: 420px;
    height: 36px;
    font-size: 1.8rem;
    border-radius: 10px;
    text-decoration: none;
    color: #ccafb5;
    background-color: #3c1d3a;
}

.icono {
    font-size: 2rem;
    padding: 10px;
    color: #3c1d3a;
    text-align: center;
}

.icono:hover {
    cursor: pointer;
}


li {
    width: 420px;
    height: 36px;
    font-size: 1.8rem;
    border-radius: 10px;
    text-decoration: none;
    list-style: none;
    color: #f8f6ff;
    background-color: #b0729d;
}